/*Set up hover that highlight the grid on hover*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    --darkgray:#262323;
    --black:#000000;
    --red:#D93636;
    --white:#FFFFFF;
    --gold:#DBB70C;
}
body{
    background-color:var(--darkgray);
    color:var(--white);
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 37.5rem;
    margin: 1.25rem auto;
    border:0.9375rem solid var(--black);
    background-color:var(--red);
    border-radius:0.3125rem;
  }
.canvas-board{
    width:31.25rem;
    height:31.25rem;
    display:grid;
    margin: 0 auto;
    border:0.375rem solid var(--black);
}
.title,.buttons{
    background-color:var(--black);
    margin:0.9375rem auto;
    width:31.25rem;
    padding:0.625rem 1.25rem;
}
.title{
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}
.buttons{
    display:flex;
    justify-content:center;
    padding:0.625rem 1.25rem;
}
.canvas-button{
    padding:0.3125rem;
    margin-right:0.625rem;
    margin-left:0.625rem;
    background-color: var(--black);
    color:var(--white);
    border: none;
    font-size:1.125rem;
    text-transform:uppercase;
}
.canvas-button:hover{
    color:var(--gold);
}
.input-container{
    display: flex;
    justify-content: center;
    margin-bottom:0.9375rem;
}
input{
    border:0.125rem solid var(--red);
    padding:0.3125rem;
}
.change-size-button{
    background-color:var(--black);
    color: var(--white);
    border:0.125rem solid var(--red);
    padding:0.3125rem;
}
.change-size-button:hover{
    color:var(--gold);
}
.error{
    display:none;
    justify-content: center;
    margin-top:0.625rem;
    margin-bottom:0.625rem;
  }
  @media(max-width:600px){
    .container{
        width:21.875rem;
        border:0.3125rem solid var(--black);
        border-radius:0.125rem;
    }
    .title,.canvas-board,.buttons{
        width:18.75rem;
    }
    .canvas-board{
        height:18.75rem;
    }
    .canvas-button{
        margin-left:0.125rem;
        margin-right:0.125rem;
        font-size:0.875rem;
      }
    }